@font-face{
    font-family:"PeaceSans";
    src:url("@fonts/PeaceSans.ttf") format("truetype")
  }
  @font-face{font-family:"GothamPro";src:url("@fonts/GothamPro.ttf") format("truetype")}
  
  @font-face{font-family:"GothamPro-Light";src:url("@fonts/GothamPro-Light.ttf") format("truetype")}
  @font-face{font-family:"GothamPro-Black";src:url("@fonts/GothamPro-Black.ttf") format("truetype")}
  @font-face{font-family:"SFProDisplay-Light";src:url("@fonts/SFProDisplay-Light.ttf") format("truetype")}
  

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-family: "GothamPro" !important;
    font-weight: 700!important;
    font-size: 1.125em!important;
    line-height: 30px !important;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.Nav__button{
    background-color: rgb(245, 245, 245);
    border-radius: var(--border-radius-small);
    min-width: 220px;
    padding: 20px 0;
    margin: 38px auto;
    text-align: center;
    color: rgb(0 0 0);
    font-family: "GothamPro" !important;
    font-weight: 700;
    font-size: 1.125em;
    line-height: 30px !important;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;

}
.Nav__button:hover {
    color: #fff;
    background-color: #ff6b6b;
}
