.info__wrapper {
    margin-bottom: 30px;
    padding-top: 99px;
    position: relative;

}
.info__text {
    position: absolute;
    z-index: 10;
    text-align: center;
    font-family: "GothamPro-Black" !important;
    color: rgb(255 255 255);
    padding: 180px 35px;
    height: 100%;
    max-width: 100%;
}
.info__sell {
    font-family: "GothamPro-Black" !important;
    color: rgb(255 255 255);
    font-weight: 900 !important;
    font-size: 1.5em !important;
    line-height: 23px !important;
}
.info__title{
    font-family: "GothamPro-Black" !important;
    color: rgb(255 255 255);
    margin: 20px 0 75px;
    font-size: 4.5em !important;
    line-height: 69px !important;
    font-weight: 900;
    
}
@media (max-width: 1200px) {
    .info__text {
        padding: 150px auto;
    }
    .info__title {
        font-size: 3.6em;
        line-height: 48px;
    }
}
