@font-face{font-family:"PeaceSans";src:url("@fonts/PeaceSans.ttf") format("truetype")}@font-face{font-family:"GothamPro";src:url("@fonts/GothamPro.ttf") format("truetype")}@font-face{font-family:"GothamPro-Light";src:url("@fonts/GothamPro-Light.ttf") format("truetype")}@font-face{font-family:"GothamPro-Black";src:url("@fonts/GothamPro-Black.ttf") format("truetype")}@font-face{font-family:"SFProDisplay-Light";src:url("@fonts/SFProDisplay-Light.ttf") format("truetype")}@font-face{font-family:"SFProDisplay-Medium";src:url("@fonts/SFProDisplay-Medium.ttf") format("truetype")}

.logo {
    min-width: 246px;
    width: 246px;
    padding-left: 40px;

}
.header{
    margin-top:30px;
}
.header__panel { 
    display:flex;     
    align-items: flex-start;
    background-color:#fff; height: 40px; position:fixed;padding:20px 15px;top:0;left:0;right:0;z-index:100;-webkit-transition:all 0.1s linear;transition:all 0.1s linear;-webkit-box-shadow:0px 2px 10px rgba(0,0,0,0.1);box-shadow:0px 2px 10px rgba(0,0,0,0.1)
}
.header__button{background-color:#ff6b6b;border-radius:5px;border:0;outline:none;cursor:pointer;margin-left:15px;font-family:"GothamPro";color:#fff;font-size:1.125em;line-height:17px;padding:10px;-webkit-transition:all 0.1s linear;transition:all 0.1s linear
}
.header__button:hover{background-color:#f04141
}


