@font-face{font-family:"PeaceSans";src:url("@fonts/PeaceSans.ttf") format("truetype")}@font-face{font-family:"GothamPro";src:url("@fonts/GothamPro.ttf") format("truetype")}@font-face{font-family:"GothamPro-Light";src:url("@fonts/GothamPro-Light.ttf") format("truetype")}@font-face{font-family:"GothamPro-Black";src:url("@fonts/GothamPro-Black.ttf") format("truetype")}@font-face{font-family:"SFProDisplay-Light";src:url("@fonts/SFProDisplay-Light.ttf") format("truetype")}@font-face{font-family:"SFProDisplay-Medium";src:url("@fonts/SFProDisplay-Medium.ttf") format("truetype")}

.NavBar {
    height: 75px;
    width: 100%;
    position: fixed;
    opacity: 0.9;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 50px;
    top:0;left:0;right:0;z-index:100;-webkit-transition:all 0.1s linear;transition:all 0.1s linear;-webkit-box-shadow:0px 2px 10px rgba(0,0,0,0.1);box-shadow:0px 2px 10px rgba(0,0,0,0.1)
}
.NavBar .logo {
    min-width: 246px;
    width: 246px;

}
.NavBar ul {
    list-style: none;
    line-height: 28px;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    background-color: violet;
}
.NavBar ul li {
    display: inline-block;
    margin: 10px;
}
.NavBar ul li a {
    text-decoration: none;
    color: var(--color-black);
    font-weight: var(--font-bold);
}
.NavBar ul li:last-child {
    border-bottom: 2px solid var(--color-black);
}
.NavBar a:hover, a:active {
    color: var(--color-violet);
    border-bottom: 2px solid #ff6b6b;
}
.MobileNavigation {
    display: none;
}

@media (max-width: 1300px) {
    .Navigation {
        display: none;
    }
    .NavBar .MobileNavigation {
        display: flex;
        right: 0;
        align-items: flex-end;
        background-color: red;
    }
    .MobileNavigation__img {
        position: absolute;
        top: 0;
        right: 10%;
        width: 24px;
        height: 24px;
        padding-top: 25px;
        cursor: pointer;
    }
    .NavBar ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100px;
        z-index: 200;

        background-color: var(--color-white);
    }
    .NavBar ul li {
        padding-left: 15%;
    }
    .NavBar {

        opacity: 1;
    }
}
.wrapper.active{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;position:absolute;left:0;z-index:15;width:100vw;height:100vh;padding-top:15px;top:60px;background-color:#fff
}
.wrapper.active .menu>ul{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;margin:20px auto
}
ul li{margin:10px 0; display: inline;}
.wrapper.active .underline{margin:10px 0}
.wrapper.active .underline a{margin:10px;color:#ff6b6b;border-color:#ff6b6b}
.menu>ul li a:active,.menu>ul li a.active{color:#ff6b6b}
.menu>ul li a::before{content:"";position:absolute;width:0;height:2px;top:25px;background-color:#ff6b6b;-webkit-transition:width 0.1s linear;transition:width 0.1s linear
}
.menu>ul li a:hover,.menu>ul li a:active,.menu>ul li a.active{color:#ff6b6b
}
.menu>ul li a:hover::before,.menu>ul li a:active::before,.menu>ul li a.active::before{ width:100%
}
.burger__menu{display:none;width:24px;cursor:pointer}.menu>ul{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;list-style-type:none}.menu>ul li a{
    text-decoration: none;
    margin:0 10px;
    font-family:"GothamPro";font-weight:900;color:#000;font-size:1em;line-height:17px;position:relative;-webkit-transition:all 0.1s linear;transition:all 0.1s linear
}
@media only screen and (max-width: 1435px) {
    .menu>ul li a{
        font-size:1em;margin:0 5px
    }
    .underline a{font-size:1em}
}
@media only screen and (max-width: 1380px){
    .menu>ul li a{font-size:0.875em}
    .underline a{font-size:0.875em}
    .nav-buttons a{width:30%}
    .nav-button{min-width:auto}
    .token__block{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}
    .token__main-text{max-width:100%}
    .token__files,.token__form{width:70%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;margin:0 auto}
    .token__form{margin-top:170px}
}
@media only screen and (max-width: 1337px){.wrapp-container{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.wrapper{display:none}.burger__menu{display:block}.item p{font-size:1em}.tab-title{font-size:1em}.tab{font-size:1em;margin-right:25px}.auction__title{max-width:88%}.auction__title::after{width:100%}.find__title{width:46%}.find__searcher{width:50%}.token__files,.token__form{width:95%}}@media only screen and (max-width: 1248px){.collect__title::after{display:none}.collect__users .slick-arrow{top:-140px}}@media only screen and (max-width: 1180px){.comics__block{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.comics__image{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;width:90%}.comics__info{width:90%;margin:60px auto}}@media only screen and (max-width: 960px){.tab{margin:0 25px 0 0}.auction__title{max-width:84%}}@media only screen and (max-width: 860px){h1{font-size:3.6em;line-height:48px}.filter-search{display:-webkit-box;display:-ms-flexbox;display:flex}.dropdown-wrapp{display:none}.main__input{padding:15px 135px 15px 26px}.main__button{padding:12px 30px}.main__wrapp{margin:0 35px}.panel .title{font-size:1em}.gallery__item{width:45%}.auction__title{max-width:84%}}@media only screen and (max-width: 768px){.auction__title{max-width:80%}.tab-header{display:-webkit-box;display:-ms-flexbox;display:flex;margin:0}.tab-title{display:none}.find__title{width:100%}.find__searcher{width:100%}.slick-arrow{top:-215px}.auction__item p{font-size:0.875em;margin:0;line-height:20px}.market img{width:500px}.token__main-text{margin-left:0}.token__images{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.token__image{width:100%;padding:20px}.token__preview{margin-top:20px;width:100%;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;min-height:220px}.token__preview img{min-height:160px;max-height:160px}.token__form input,.token__form textarea{width:100%}.comics__image img{min-height:auto}.title-history{display:none}.filter__selector p,.filter__selector label{font-size:1em}.filter__selector label .checkmark{width:18px;height:17px;top:3px}table th{font-size:0.875em}table td{font-size:0.75em;padding:10px 0 10px 40px}}@media only screen and (max-width: 660px){h1{text-align:left;font-size:1.5em;margin:0 0 30px;line-height:40px}.sell{text-align:left;font-size:0.75em}.item p{font-size:0.75em;line-height:12px}.main__wrapp{margin:0 15px;padding:70px 0}.main__input{font-size:0.875em;padding:10px 85px 10px 10px}.main__search{width:100%}.main__button{padding:5px 15px;font-size:1em}.auction__title{max-width:75%}.auction__title::after{width:70%;left:150px}.gallery__title::after{left:140px}.collect,.gallery{margin-top:75px}.auction__title,.collect__title,.gallery__title{margin-bottom:40px}.slick-arrow{top:-165px}.collect{padding:40px 0}.collect__users .slick-arrow{top:-90px}.user a{display:block}.user-info{margin-left:0;margin-top:20px}.nav-buttons a{width:48%}.profile__block{padding:26px}.profile__info{margin-left:0}.profile__wrapp{width:100%;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start}.market-place{margin-top:45px}.market-place__title{font-size:1.5em;margin-bottom:45px}.market img{width:300px
}
.wrapp .switch label{font-size:0.875em;padding:10px 35px 10px 0
}.wrapp .switch-content{font-size:0.75em}.wrapp .switch-content p{margin:0px 35px 10px 0}.wallet__title{font-size:1.5em}.wallet__desc{font-size:0.875em}.wallet__buttons{width:100%}.wallet__button{padding:32px 0;font-size:1.125em}.text-center{font-size:0.75em}.token__main-text{font-size:1.625em;line-height:20px}.token__title{font-size:1.25em}.token__image p{font-size:1em}.token__subtitle{font-size:1em}.form-title,.form-button,.form-submit{font-size:1.25em}.comics__title{font-size:1.5em}.comics__view{font-size:0.875em}.comics__author::before{display:none}.comics__viewers{color:#0057ff}.comics__sum p{font-size:1.125em}.comics__extra-info p{font-size:0.75em;padding:15px}.comics__lot-info{font-size:1.125em}.comics__lot-info ul li{font-size:1em}.comics__sub p{font-size:1em}}@media only screen and (max-width: 480px){.filter-search p,.filter-search span{font-size:0.75em;margin:7px 5px}.logo img{max-width:170px}.slick-arrow{-webkit-transform:scale(0.6);transform:scale(0.6);top:-165px}.slick-prev{right:35px}.collect__users .slick-arrow{top:-85px}.token{margin:30px 0}.token__files,.token__form{width:100%}.token__title{font-size:0.875em;line-height:20px;margin-bottom:20px}.token__image{padding:20px 5px}.token__image p{font-size:0.75em}.token__subtitle{font-size:0.875em}.token__checkbox{-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start}.custom-checkbox+label::before{width:35px;height:35px}.dropbtn,.form-button,.form-submit{font-size:0.875em}.form-title{font-size:1.125em}.form-submit{line-height:13px;padding:15px 25px}.price-input::-webkit-input-placeholder{top:-17px}.price-input::-moz-placeholder{top:-17px}.price-input:-ms-input-placeholder{top:-17px}.price-input::-ms-input-placeholder{top:-17px}.price-input::placeholder{top:-17px}.comics__view{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.comics__view p{font-size:0.875em}.comics__price{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.comics__sum{width:100%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.comics__button{width:100%;margin-top:10px}.comics__extra-info{margin-top:20px;background-color:#fff}.comics__extra-info p{padding:0}.comics__extra-info p:first-child{border-bottom:none}.comics__lot{padding:40px 15px;background-color:#fcfcfc}.comics__lot ul{border:none}.comics__lot ul li::before{display:none}.comics__lot-info{margin:0;padding-bottom:10px;border-bottom:1px solid rgba(0,0,0,0.25)}.comics__sub{border:none;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:start;-ms-flex-align:start;align-items:start}.comics__sub p{margin:0 0 10px 0}.comics__keys{border:none}}@media only screen and (max-width: 426px){.profile__img{width:94px}.profile__money,.profile__social-text,.profile__subscribe{font-size:0.875em}.nav-button{font-size:0.875em;padding:10px 0}.nav-button span{font-size:0.714em}.tab-header{font-size:1em}.find__title{font-size:0.875em}.find__button{font-size:0.875em}.gallery__tabs{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:start;-ms-flex-align:start;align-items:start;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:start}.token__main-text{font-size:1.125em}}@media only screen and (max-width: 420px){.tab{font-size:0.75em}.gallery__body{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.gallery__item{width:90%}.market img{width:250px}}@media only screen and (max-width: 380px){.main__input,.item p{font-size:0.625em}.comics__title{line-height:20px}.comics__view p{line-height:20px;font-size:0.75em}.comics__lot{padding:40px 5px}.comics__lot ul li{font-size:0.875em}}@media only screen and (max-width: 359px){.auction__title::after{display:none}.collect__title{font-size:1.125em;line-height:36px}.wrapp .switch label,.wrapp .switch-content{line-height:20px}}
